@import "foundation";
@import "font-awesome";

body {
  background: #c2c2c2;
}

button {
  background-color: #305F88;
  border-color: #304E66
}

.shadow1 {
  -moz-box-shadow:    1px 1px 1px 1px #aaaaaa;
  -webkit-box-shadow: 0px 0px 1px 1px #aaaaaa;
  box-shadow:         3px 3px 5px 6px #aaaaaa;
}

.shadow2 {
  -moz-box-shadow:    1px 1px 1px 1px #aaaaaa;
  -webkit-box-shadow: 0px 0px 1px 1px #aaaaaa;
  box-shadow:         1px 1px 2px 3px #aaaaaa;
}

.container {
  width: 70%;
  margin: 25px auto;
}

.logoWrapper {
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
  
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.imageList {
  margin: 5px;
  display: inline-block;
  position: relative;

  .imageListItem{
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    position: relative;
    border: 1px solid #333433;
    border-radius: 3px;

    img{
      height: 100%;
      width: 100%;
      padding: 2%;
    }

    .click {
    max-height: 50%;
    position:absolute;
    top: 15%;
    left: 5%;
    display: none;

      img {
        max-width: 60%;
      }
    }
    .show {
      display: inline-block;
    }
  }
}